:root {
  --primary-color: #b09337;
  --text-color-dark: #333;
  --text-color-lightdark: #6b6f76;
  --text-color-light: #fff;
  --background-color: white;
  --footer-background: #333;
  --header-height: 60px;
  --container-max-width: 1200px;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: var(--text-color-dark);
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 46px;
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 20px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-height: var(--header-height);
  height: var(--header-height);
  max-width: 100vw;
  width: 100%;
  background-color: var(--background-color);
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: black;
  padding: 0 20px;
}

.logo span {
  color: var(--primary-color);
}

.join-waitlist {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
  font-size: 16px;
}

/* Hero */

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("assets/hero.png");
  background-size: cover;
  background-position: center;
  margin-top: var(--header-height);
  padding: 60px 0;
  overflow: hidden;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-content {
  max-width: 100%;
  padding: 0 20px;
  margin-bottom: 40px;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: var(--text-color-light);
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
  color: var(--text-color-light);
}

.hero p span {
  color: var(--primary-color);
}

.join-waitlist {
  padding: 12px 24px;
  font-size: 16px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-image {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.product-image img {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 768px) {
  .hero {
    padding: 100px 0;
  }

  .hero .container {
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
  }

  .hero-content {
    flex: 1;
    padding-right: 40px;
    margin-bottom: 0;
  }

  .hero h1 {
    font-size: 56px;
  }

  .hero p {
    font-size: 24px;
  }

  .product-image {
    flex: 1;
    max-width: none;
  }
}

/* Features */

.features {
  padding: 30px 20px;
  text-align: center;
}

.features h2 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
}

.features .subtitle {
  font-size: 18px;
  color: var(--text-color-lightdark);
  margin-bottom: 30px;
}

.feature-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px -2px #10182808, 0px 12px 16px -4px #10182814;
}

.feature-icon {
  font-size: 24px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 16px;
  text-align: center;
  margin: 0;
  font-weight: bold;
}

.call-to-action {
  font-size: 20px;
  font-weight: normal;
  margin-top: 30px;
}

/* Media query for larger screens */
@media (min-width: 768px) {
  .features {
    padding: 60px 0;
  }

  .features h2 {
    font-size: 46px;
  }

  .features .subtitle {
    font-size: 24px;
  }

  .feature-icons {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  .feature-item {
    flex-direction: column;
    width: 200px;
  }

  .feature-icon {
    font-size: 36px;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .feature-item p {
    font-size: 18px;
  }

  .call-to-action {
    font-size: 24px;
    margin-top: 40px;
  }
}

/* Pricing */

.pricing {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("assets/pricing.png");
  background-size: cover;
  background-position: center;
  padding: 60px 0;
  color: white;
}

.pricing h2 {
  text-align: center;
  color: white;
  margin-bottom: 40px;
}

.pricing-plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.plan {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  max-width: 215px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.plan h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.plan-price {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #b09337;
}

.plan p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #6b6f76;
}

.plan ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.plan li {
  margin-bottom: 10px;
  font-size: 14px;
  position: relative;
  padding-left: 20px;
  color: #333;
}

.plan li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #b09337;
}

.plan.highlight {
  background-color: var(--primary-color);
}

.plan.highlight h3,
.plan.highlight .plan-price,
.plan.highlight p,
.plan.highlight li {
  color: white;
}

.plan.highlight li::before {
  color: white;
}

.button-outlined {
  border: 1px solid white;
  color: white;
}

@media (min-width: 768px) {
  .pricing-plans {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  .plan {
    width: calc(33.33% - 20px);
    max-width: none;
  }
}

/* Q&A */

.qa-section {
  padding: 60px 0;
  /* background-color: #f8f9fa; */
}

.qa-section h2 {
  text-align: center;
  margin-bottom: 40px;
}

.qa-item {
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #f1f3f5;
  margin-bottom: 10px;
}

.qa-item h3 {
  font-size: 18px;
  padding: 20px;
  margin: 0;
  cursor: pointer;
  position: relative;
}

.qa-item h3::after {
  content: "+";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: var(--primary-color);
}

.qa-content {
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.qa-content p {
  margin-bottom: 10px;
  line-height: 1.6;
}

.qa-item.active h3::after {
  content: "-";
}

.qa-item.active .qa-content {
  padding: 0 20px 20px;
  max-height: 1000px;
}

footer {
  background-color: var(--footer-background);
  color: var(--background-color);
  text-align: center;
  padding: 20px 0;
}

/* Privacy popup */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 40px;
  border: none;
  border-radius: 8px;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.popup-content h2 {
  color: var(--primary-color);
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 20px;
}

.popup-content h3 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.popup-content h4 {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.popup-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

#close-popup {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  float: right;
  margin-top: 20px;
}

#terms-privacy {
  cursor: pointer;
}

/* Waitlist popup */
.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 40px;
  border: none;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.popup-content h2 {
  color: var(--primary-color);
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 20px;
}

.popup-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 25px;
}

#waitlist-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#waitlist-form label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  text-align: left;
}

#waitlist-form input,
#waitlist-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#waitlist-form textarea {
  resize: vertical;
  min-height: 100px;
}

#waitlist-form button[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

#close-waitlist-popup {
  background-color: transparent;
  color: var(--text-color-lightdark);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

/* Consent banner */
#consent-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--background-color);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  z-index: 1000;
}

@media (max-width: 768px) {
  #consent-banner {
    flex-direction: column;
    align-items: stretch;
  }
}

#consent-banner p {
  margin: 0;
  font-size: 16px;
  color: var(--text-color-dark);
}

#consent-banner button {
  background-color: var(--primary-color);
  color: var(--text-color-light);
  border: none;
  padding: 8px 15px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

#consent-banner button:hover {
  background-color: #9a8130; /* Darker shade of primary color */
}

#reject-consent {
  background-color: transparent !important;
  color: var(--text-color-lightdark) !important;
  border: 1px solid var(--text-color-lightdark) !important;
}

#reject-consent:hover {
  background-color: #f1f3f5 !important;
}
